
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}


#wrap {
width:1269px;
background:#99c;
}

#canvas {
  float: right;
  background-color: #aaaaaa';
  border: 1px solid;
}

#toolbar {
  width: 50px;
  height: 800px;
  float: left;
  border:2px solid;
  border-radius: 5px;
}
